.container {
  height: 88px;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 32px;
  background-color: #333333;
  z-index: 5;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 32px;
}


